<p><i>Skill level descriptors from <a href="https://www.odp.civilservice.gov.uk/skills-framework-new/skill-level-descriptors/">UK Civil Service ODP Professional Skills Framework</a>.</i></p>
{{ range $area := .Site.Params.skill.list }}
<h4 style="text-decoration: underline;">{{ $area.area }}</h4>
<div class="prose prose-stone dark:prose-invert max-w-none">
    {{ range $skills := $area.skills }}
    {{ if $skills.level }}
    {{ $skills.name }} (<i>{{ $skills.level }}</i>) &middot;
    {{ else }} {{ $skills.name }} &middot;
    {{ end }}
    {{ end }}
</div>
{{ end }}
