<div class="embed-feeds">
    <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=2&amp;bgcolor=%23B39DDB&amp;ctz=Europe%2FLondon&amp;src=cDl1bjJza2UxaG02bnFrbTE5bThhbzc2cHNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23795548&amp;title=Upcoming%20Events&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;hl=en_GB&amp;showTz=1" style="border-width:0" width="220" height="400" frameborder="0" scrolling="no"></iframe>
    <a class="twitter-timeline" data-width="220" data-height="400" data-theme="dark" href="https://twitter.com/drsarahlgibson?ref_src=twsrc%5Etfw">Tweets by drsarahlgibson</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
