{{ if (eq .Site.Params.disableTitleCapitalization true) }}
  <h2>{{ .title }}</h2>
{{ else }}
  <h2>{{ title .title }}</h2>
{{ end }}
<div><ul>
{{ range .list }}
  <li>
  {{ if .course_url }}
    <b><a href="{{ .course_url }}">{{ .course }}</a></b> &middot; <i>awarded {{ .awarded }}</i> &middot;
  {{ else }}
    <b>{{ .course }}</b> &middot; <i>awarded {{ .awarded }}</i> &middot;
  {{ end }}
  {{ if .org_url }}
    <a href="{{ .org_url }}">{{ .org }}</a>
  {{ else }}
    {{ .org }}
  {{ end }}
  </li>
{{ end }}
</ul></div>
