{{ if (eq .Site.Params.disableTitleCapitalization true) }}
  <h2>{{ .title }}</h2>
{{ else }}
  <h2>{{ title .title }}</h2>
{{ end }}
{{ range .list }}
  <h3>{{ .college }} &middot; <small><i>{{ .dates }}</i></small></h3>
  <p>{{ .degree }}</p>
  {{ if .thesis_title }}
    {{ if .thesis_url }}
      <p><small><i>Thesis:</i> <a href="{{ .thesis_url }}">{{ .thesis_title }}</a></small></p>
    {{ else }}
      <p><small><i>Thesis:</i> {{ .thesis_title }}</small></p>
    {{ end }}
  {{ end }}
{{ end }}
