{{ if (eq .Site.Params.disableTitleCapitalization true) }}
  <h2>{{ .title }}</h2>
{{ else }}
  <h2>{{ title .title }}</h2>
{{ end }}
<ul>
{{ range .list }}
  {{ if .url }}
    <li><b><a href="{{ .url }}">{{ .company }}</a></b> &middot; <i>{{ .location }}</i></li>
  {{ else }}
    <li><b>{{ .company }}</b> &middot; <i>{{ .location }}</i></li>
  {{ end }}
  <ul>
  {{ range .roles }}
    <li><b>{{ .position }}</b> &middot; <i>{{ .dates }}</i></li>
    <ul><li>{{ .details | markdownify }}</li></ul>
  {{ end }}
  </ul>
{{ end }}
</ul>