name: Build, Test and Deploy the website

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency: deploy

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'

      - name: Build site with Hugo
        run: hugo --minify --enableGitInfo

      - name: Check HTML
        uses: chabad360/htmlproofer@v1.1
        with:
          directory: "./public"
          arguments: '--only-4xx --assume-extension --disable-external --ignore-empty-alt --checks "html", "favicon", "Links", "Images", "Scripts"'
        continue-on-error: ${{ github.event_name == 'push' }}

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
